$black-color:#000;
$white-color:#fff;
$grey-color:#3c3c3c;
$color-e3:#e3e3e3;
$color-b5:#b5b5b5;
$color-f9:#f9f9f9;
$color-f2:#f2f2f2;
$color-41:#414141;
$color-6d:#6d6d6d;
$color-88:#888888;
$color-f8:#f8f8f8;
$color-d8:#d8d8d8;
$color-80:#808080;
$color-c4:#c4c4c4;
$color-6e:#6e6e6e;
$color-66:#666666;
$color-23:#231f1c;
$color-6b6a:#6b6a6a;
$yellow:#efad1c;
$titlep-color:#181619;
$p-color:#abafb8;
$color-ee:#eeeeee;
$header-yellow:#eca93a;

$transparent-color:transparent;
$family-open: 'Open Sans', sans-serif;
$family: 'Open Sans', sans-serif;
$large-desktop:1400px;
$desktop:1367px;
$mini-desktop:1170px;
$tablet-landscape:1024px;
$tablet:992px;
$ptablet:767px;
$mobile:479px;