.main-innerpage{
	.inner-content-page{
		.right-section{
			.about-section{
				background-color: $white-color;
				padding: 60px 0 60px;
				.section-title{
					h2{
						font-size: 18px;
					}
				}
				.card{
					.card-title{
						font-size: 14px;
					}					
				}
			}
			.feature-section{
				&::before{
					content: none;			
				}			
			}
			.video-section{
				background-color: transparent;
				&.grey-bg{					
					.section-title{
						background-color:$color-41;
					}
					.video-main-out{
						background-color:$color-41;
					}
				}
				padding-bottom: 300px;
				.section-title{
					background-color:$yellow;
					p{
						color: #fff;
					} 
				}
				.video-main-out{
					background-color: $yellow;	
					.video-outer {
					    bottom: 40px;
						margin-bottom: -240px;
						img,iframe{
							width:100%;
						}
					}
				}
			}
		}
	}
}

